.MyApplication {
  font: 20px Arial;
}
.MyApplication h1 {
  margin: 0;
  padding: 0;
}
.MyApplication-Header {
  background: #eee;
  padding: 10px;
}
.MyApplication-Footer {
  background: #eee;
  padding: 10px;
}
.MyApplication-Content {
  padding: 10px;
}
